{% extends "base.html" %} {% block title %}New Post{% endblock %} {% block
metatags %}
<meta name="og:title" value="Post a new reply" />
{% endblock %} {% block leftheader %} >
<a href="{{ url_for('main.view_category', cat_title=category.title) }}"
  >{{ category.title }}/</a
>
>
<a
  href="{{ url_for('main.view_thread', cat_title=category.title, thread_id=thread.id) }}"
  >{{ thread.title }}</a
>
{% endblock %} {% block main %}
<div class="main">
  <h3>New reply</h3>
  {% if reply_to %} {% set post = Post.query.filter_by(id=reply_to).first() %}
  {% set author = User.query.filter_by(id=post.author).first() %}
  <p>to:</p>
  <div style="border: 3px solid grey">
    <div
      id="{{ post.id }}"
      class="comment"
      style="margin-left: 30px; margin: 15px"
    >
      <div class="top-comment">
        <div class="tooltip-wrap">
          {% if author.deleted %}
          <p style="color: #808080; font-style: italic">[deleted]</p>
          {% else %}
          <a
            style="color: #808080"
            href="{{ url_for('main.view_user', username=author.username) }}"
            >{{ author.username }}</a
          >
          {% endif %}
        </div>
        <p class="comment-tr">
          <a
            style="color: #808080"
            href="{{ url_for('main.view_thread', cat_title=category.title, thread_id=post.thread_id) + '#' + post.id|string }}"
          >
            {{ post.creation_date }}
          </a>
        </p>
        {% if post.attachment_filename and not post.deleted %}
        <p class="comment-tr">
          <a
            href="{{ url_for('main.uploads', filename=post.attachment_filename) + '?download=true' }}"
            >[save]</a
          >
        </p>
        {% endif %} {% if not post.deleted and (current_user.role == "admin" or
        (current_user.role == "moderator" and author.role == "user") or
        current_user.id == post.author) %}
        <p class="comment-tr">
          <a
            href="{{ url_for('main.delete_post', cat_title=category.title, thread_id=post.thread_id, post_id=post.id) }}"
            >[delete]</a
          >
        </p>
        {% endif %}
      </div>
      {% if post.deleted %}
      <div class="comment-content" style="font-style: italic">[deleted]</div>
      {% endif %} {% if post.content %}
      <div class="comment-content">{{ post.content|render_content|safe }}</div>
      {% endif %} {% if post.attachment_filename %} {{
      embed_file(post.attachment_filename)|safe }} {% endif %}
    </div>
  </div>
  <br />
  {% endif %}
  <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }} {{ form.content }}
    <br />
    {{ form.file }}
    <br />
    {% for field, errors in form.errors.items() %}
    <ul class="errors">
      {% for error in errors %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
    {% endfor %} {{ form.submit }}
  </form>
</div>
{% endblock %}
