{% extends "base.html" %} {% block title %}New Thread{% endblock %} {% block
metatags %}
<meta name="og:title" value="Create a new thread" />
{% endblock %} {% block leftheader %} >
<a href="{{ url_for('main.view_category', cat_title=category.title) }}"
  >{{ category.title }}/</a
>
{% endblock %} {% block main %}
<div class="main">
  <h3>New thread</h3>
  <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>Thread title</p>
    {{ form.title }}
    <br />
    <p>Thread content</p>
    {{ form.content }}
    <br />
    {{ form.file }}
    <br />
    <br />
    {{ form.submit }}
  </form>
</div>
{% endblock %}
