{% extends "base.html" %} {% block title %}{{ user.username }}{% endblock %} {%
block metatags %}
<meta name="og:title" value="~{{ user.username }}" />
<meta
  name="og:image"
  value="{% if user.picture_filename %} {{ url_for('main.uploads', filename=user.picture_filename) }} {% else %} {{ url_for('static', filename='default.png') }} {% endif %}"
/>
{% endblock %} {% block leftheader %} <span>> ~{{ user.username }}</span> {%
endblock %} {% block rightheader %} {% if current_user.role == "admin" or
current_user.id == user.id %}
<a href="{{ url_for('main.delete_user', username=user.username) }}"
  >delete account</a
>
| {% endif %} {% if current_user.role == "admin" and user.role != "admin" %}
<a href="{{ url_for('main.toggle_mod', username=user.username) }}"
  >toggle mod</a
>
| {% endif %} {% endblock %} {% block main %}
<div class="main">
  <b>{{ user.username }}</b> | {% if user.role == "user" %}
  <span style="color: lightgreen">{{ user.role }}</span>
  {% elif user.role == "moderator" %}
  <span style="color: yellow">{{ user.role }}</span>
  {% else %}
  <span style="color: red">{{ user.role }}</span>
  {% endif %}
  <p style="color: #808080; font-size: 13px">
    {% if activities|length == 0 %} no activity {% elif activities|length == 1%}
    1 activity {% else %} {{ activities|length }} activities {% endif %}
  </p>
  <p style="color: #808080; font-size: 13px; margin-bottom: 12px">
    joined at: {{ user.joined_date }}
  </p>
  {% if user.bio %}
  <p style="color: #808080; font-size: 13px">Bio</p>
  <p>{{ user.bio }}</p>
  {% else %}
  <p><b>bio not set!</b></p>
  {% endif %}
  <br />
  <img
    src="{% if user.picture_filename %} {{ url_for('main.uploads', filename=user.picture_filename) }} {% else %} {{ url_for('static', filename='default.png') }} {% endif %}"
    style="max-height: 300px"
  />
  {% if activities|length > 0 %}
  <br />
  <br />
  <p><b>recent activity:</b></p>
  <hr />
  {% for activity in activities %} {% if activity.type == "post" %} {% set post
  = activity.data %} {% set category =
  Category.query.filter_by(id=post.cat_id).first() %} {% set thread =
  Thread.query.filter_by(id=post.thread_id).first() %} {% if not post.deleted %}
  <h4>
    <a href="{{ url_for('main.view_category', cat_title=category.title) }}"
      >{{ category.title }}/</a
    >
    >
    <a
      href="{{ url_for('main.view_thread', cat_title=category.title, thread_id=thread.id) }}"
      >{{ thread.title }}</a
    >
  </h4>
  <div
    id="{{ post.id }}"
    class="comment"
    style="margin-left: 30px; margin-top: 10px"
  >
    <div class="top-comment">
      <div class="tooltip-wrap">
        <span style="color: #808080">{{ user.username }}</span>
      </div>
      <p class="comment-tr">
        <a
          style="color: #808080"
          href="{{ url_for('main.view_thread', cat_title=category.title, thread_id=post.thread_id) + '#' + post.id|string }}"
        >
          {{ post.creation_date }}
        </a>
      </p>
      {% if current_user.is_authenticated and not post.deleted %}
      <p class="comment-tr">
        <a
          href="{{ url_for('main.create_post', cat_title=category.title, thread_id=post.thread_id) + '?reply_to=' + post.id|string }}"
          >[reply]</a
        >
      </p>
      {% endif %} {% if post.attachment_filename and not post.deleted %}
      <p class="comment-tr">
        <a
          href="{{ url_for('main.uploads', filename=post.attachment_filename) + '?download=true' }}"
          >[save]</a
        >
      </p>
      {% endif %} {% if not post.deleted and (current_user.role == "admin" or
      (current_user.role == "moderator" and user.role != "admin") or
      current_user.id == post.author) %}
      <p class="comment-tr">
        <a
          href="{{ url_for('main.delete_post', cat_title=category.title, thread_id=post.thread_id, post_id=post.id) }}"
          >[delete]</a
        >
      </p>
      {% endif %}
    </div>
    {% if post.deleted %}
    <div class="comment-content" style="font-style: italic">[deleted]</div>
    {% endif %} {% if post.content %}
    <div class="comment-content">{{ post.content|render_content|safe }}</div>
    {% endif %} {% if post.attachment_filename %} {% if
    post.attachment_filename.split(".")|last in config["PREVIEWABLE_EXTENSIONS"]
    %}
    <embed
      src="{{ url_for('main.uploads', filename=post.attachment_filename) }}"
      style="max-height: 300px; margin-top: 5px"
    />
    {% else %}
    <a href="{{ url_for('main.uploads', filename=post.attachment_filename) }}"
      >{{ post.attachment_filename }}</a
    >
    {% endif %} {% endif %}
  </div>
  <hr />
  {% endif %} {% else %} {% set thread = activity.data %} {% set category =
  Category.query.filter_by(id=thread.cat_id).first() %} {% if not thread.deleted
  %}
  <h4>
    <a href="{{ url_for('main.view_category', cat_title=category.title) }}"
      >{{ category.title }}/</a
    >
    >
    <a
      href="{{ url_for('main.view_thread', cat_title=category.title, thread_id=thread.id) }}"
      >{{ thread.title }}<span
        style="color: #808080; font-size: 13px; margin-left: 5px"
        >{{ thread.creation_date }}</span
      ></a
    >
  </h4>
  <p>{{ thread.content|render_content|safe|truncate(200) }}</p>
  {% if thread.attachment_filename %} {% if
  thread.attachment_filename.split(".")|last in config["PREVIEWABLE_EXTENSIONS"]
  %}
  <embed
    src="{{ url_for('main.uploads', filename=thread.attachment_filename) }}"
    style="max-height: 100px; margin-top: 5px"
  />
  {% else %}
  <a href="{{ url_for('main.uploads', filename=thread.attachment_filename) }}"
    >{{ thread.attachment_filename }}</a
  >
  {% endif %} {% endif %}
  <hr />
  {% endif %} {% endif %} {% endfor %} {% endif %}
</div>
{% endblock %}
