* {
  color: #cfcfcf;
}

input {
  color: black;
}

textarea {
  color: black;
}

body {
  background-color: #252525;
}

.tiny-pfp {
  border: 1px solid white;
}

a {
  color: #ffffff;
}

.top-bar {
  background-color: #5a5a5a;
}

.index-main {
  background-color: #090910;
}

.main {
  background-color: #090910;
}

.comment-content a {
  color: lightblue;
}

@keyframes highlight {
  to {
    background-color: #0000d1;
  }
}

.tooltip-wrap .tooltip-content {
  background-color: #111111;
}

.account-token-wrap:hover .account-token {
  color: yellow;
}
