.tiny-pfp {
  border: 1px solid black;
}

a {
  color: black;
}

.top-bar {
  background-color: #a5a5a5;
}

.index-main {
  background-color: #f6f6ef;
}

.main {
  background-color: #f6f6ef;
}

.bottom,
.top-comment {
  color: grey;
}
.comment-content a {
  color: blue;
}

@keyframes highlight {
  to {
    background-color: #f3f3b0;
  }
}

.tooltip-wrap .tooltip-content {
  background-color: #eeeeee;
}
