{% extends "base.html" %} {% block title %}About{% endblock %} {% block metatags
%}
<meta name="og:title" value="About" />
{% endblock %} {% block main %}
<div class="main">
  <h4 style="margin-top: 5px">Welcome to the House - Reloaded!</h4>
  <br />
  <p style="margin-bottom: 10px">
    The House is supposed to be a small and light-weight online forum.
    <br />
    This is a python fork of the original board written in PHP!
    <br />
    <br />
    Please do not post NSFW.
  </p>
</div>
{% endblock %}
