{% extends "base.html" %} {% block title %}Delete Thread{% endblock %} {% block
leftheader %} >
<a href="{{ url_for('view_category', cat_title=category.title) }}"
  >{{ category.title }}/</a
>
>
<a
  href="{{ url_for('view_thread', cat_title=category.title, thread_id=thread.id) }}"
>
  {{ thread.title }}</a
>{% endblock %} {% block main %}
<div class="main">
  <h3>Delete post</h3>
  <div style="border: 3px solid grey">
    <div
      id="{{ post.id }}"
      class="comment"
      style="margin-left: 30px; margin: 15px"
    >
      <div class="top-comment">
        <div class="tooltip-wrap">
          <a
            style="color: #808080"
            href="{{ url_for('view_user', username=author.username) }}"
            >{{ author.username }}</a
          >
        </div>
        <p class="comment-tr">
          <a
            style="color: #808080"
            href="{{ url_for('view_thread', cat_title=category.title, thread_id=post.thread_id) + '#' + post.id|string }}"
          >
            {{ post.creation_date }}
          </a>
        </p>
        {% if not post.deleted %}
        <p class="comment-tr">
          <a
            href="{{ url_for('create_post', cat_title=category.title, thread_id=post.thread_id) + '?reply_to=' + post.id|string }}"
            >[reply]</a
          >
        </p>
        {% endif %} {% if post.attachment_filename and not post.deleted %}
        <p class="comment-tr">
          <a
            href="{{ url_for('uploads', filename=post.attachment_filename) + '?download=true' }}"
            >[save]</a
          >
        </p>
        {% endif %}
      </div>
      {% if post.content %}
      <div class="comment-content">{{ post.content|render_content|safe }}</div>
      {% endif %} {% if post.attachment_filename %} {% if
      post.attachment_filename.split(".")|last in
      config["PREVIEWABLE_EXTENSIONS"] %}
      <embed
        src="{{ url_for('uploads', filename=post.attachment_filename) }}"
        style="max-height: 300px; margin-top: 5px"
      />
      {% else %}
      <a href="{{ url_for('uploads', filename=post.attachment_filename) }}"
        >{{ post.attachment_filename }}</a
      >
      {% endif %} {% endif %}
    </div>
  </div>
  <br />
  <a
    href="{{ url_for('delete_post', cat_title=category.title, thread_id=thread.id, post_id=post.id) + '?confirm=yes' }}"
    ><button style="color: black">Delete post</button></a
  >
</div>
{% endblock %}
