{% extends "base.html" %} {% block title %}Delete Category{% endblock %}{% block
leftheader %} >
<a href="{{ url_for('view_category', cat_title=category.title) }}"
  >{{ category.title }}/</a
>
{% endblock %} {% block main %}
<div class="main">
  <h3>Delete category</h3>
  <p>
    This category has <b>{{ threads|length }}</b> threads and
    <b>{{ posts|length }}</b> posts
    <br />
    Are you sure you want to delete it?
  </p>
  <br />
  <a
    href="{{ url_for('delete_category', cat_title=category.title) + '?confirm=yes' }}"
    ><button style="color: black">Delete category</button></a
  >
</div>
{% endblock %}
