{% set creator = User.query.filter_by(id=thread.creator).first() %} {% extends
"base.html" %} {% block title %}{{ thread.title }}{% endblock %} {% block
metatags %}
<meta name="og:title" value="{{ category.title }} > {{ thread.title }}" />
{% if thread.attachment_filename %}
<meta
  name="og:image"
  value="{{ url_for('uploads', filename=thread.attachment_filename) }}"
/>
{% endif %} {% endblock %} {% block leftheader %} >
<a href="{{ url_for('view_category', cat_title=category.title) }}"
  >{{ category.title }}/</a
>
{% endblock %} {% block rightheader %} {% if current_user.is_authenticated %} {%
if not thread.deleted and (current_user.role == "admin" or (current_user.role ==
"moderator" and User.query.filter_by(id=thread.creator).first().role != "admin")
or current_user.id == thread.creator) %}
<a
  href="{{ url_for('delete_thread', cat_title=category.title, thread_id=thread.id) }}"
  >delete thread</a
>
| {% endif %}
<a href="{{ url_for('view_category', cat_title=category.title) }}/new"
  >create thread</a
>
| {% endif %} {% endblock %} {% block main %}
<div class="main">
  {% if not thread.deleted %}
  <h4 style="margin-top: 5px">{{ thread.title }}</h4>
  {% else %}
  <h4 style="margin-top: 5px; font-style: italic">[deleted]</h4>
  {% endif %}
  <p style="font-size: 13px">
    created by {% if creator.deleted %}
    <span style="font-style: italic">[deleted]</span> {% else %}
    <a href="{{ url_for('view_user', username=creator.username) }}"
      >{{ creator.username }}</a
    >
    {% endif %} at {{ thread.creation_date }} | Viewed {{ thread.views }} {% if
    thread.views == 1 %} time {% else %} times {% endif %}
  </p>
  <br />
  {% if thread.deleted %}
  <p style="font-style: italic">[deleted]</p>
  {% endif %} {% if thread.content %}
  <p>{{ thread.content|render_content|safe }}</p>
  {% endif %} {% if thread.attachment_filename %} <br />
  {% if thread.attachment_filename.split(".")|last in
  config["PREVIEWABLE_EXTENSIONS"] %}
  <embed
    src="{{ url_for('uploads', filename=thread.attachment_filename) }}"
    style="max-height: 400px; margin-top: 5px"
  />
  {% else %}
  <a href="{{ url_for('uploads', filename=thread.attachment_filename) }}"
    >{{ thread.attachment_filename }}</a
  >
  {% endif %} {% endif %}
  {% if not thread.deleted %} {% if not current_user.is_authenticated %}
  <a href="{{ url_for('login') + '?referer=' + request.path }}">login</a> in
  order to post replies. {% else %}
  <form
    action="{{ url_for('create_post', cat_title=category.title, thread_id=thread.id) }}"
    method="post"
    enctype="multipart/form-data"
  >
    {{ form.hidden_tag() }} {{ form.content }}
    <br />
    {{ form.file }}
    <br />
    {{ form.submit }}
  </form>
  {% endif %} {% endif %} {% if rendered_posts|trim|length > 0 %}
  <hr />
  {{ rendered_posts|safe }} {% endif %}
</div>
{% endblock %}
