{% extends "base.html" %} {% block title %}{{ category.title }}/{% endblock %}
{% block leftheader %} <span>> {{ category.title }}/</span> {% endblock %} {%
block rightheader %} {% if current_user.is_authenticated %} {% if
current_user.role == "admin" %}
<a href="{{ url_for('delete_category', cat_title=category.title) }}"
  >delete category</a
>
| {% endif %} <a href="/{{ category.title }}/new">create thread</a> | {% endif
%} {% endblock%} {% block main %} {% if threads|length == 0 %}
<div class="main">
  <p>There are no threads here.</p>
</div>
{% else %}
<div class="index-main categories">
  <ol>
    {% for thread in threads %}
    {% set posts = Post.query.filter_by(thread_id=thread.id).all() %}
    <li class="row">
      <p class="title">
        <a href="/{{ category.title }}/{{ thread.id }}">{{ thread.title }}</a>
      </p>
      <div class="bottom">
        <p>
          created by
          <a
            href="{{ url_for('view_user', username=User.query.filter_by(id=thread.creator).first().username) }}"
            >{{ User.query.filter_by(id=thread.creator).first().username }}</a
          >
          at {{ thread.creation_date }} | viewed {{ thread.views }} times |
          {% if posts|length == 0 %}
            Inactive
          {% else %}
            {% set last_post = posts|last %}
            {% set last_active_user = User.query.filter_by(id=last_post.author).first() %}
            last active user is <a href="{{ url_for('view_user', username=last_active_user.username) }}">{{ last_active_user.username }}</a> at <a href="{{ url_for('view_thread', cat_title=category.title, thread_id=thread.id) + '#' + last_post.id|string }}">{{ last_post.creation_date }}</a>
          {% endif %}
        </p>
      </div>
    </li>
    {% endfor %}
  </ol>
</div>
{% endif %} {% endblock %}
